<html>

<head>
    <title>Simple CDN - Upload</title>

    <meta charset="UTF-8">
    <meta name="theme-color" content="#ff5aac">
    <meta name="robots"      content="index, follow">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">

    <link rel="shorcut icon" type="image/png" href="icon.png">

    <link rel="preload"    href="stylesheets/main.css" as="style">
    <link rel="preload"    href="javascripts/secure.js" as="script">

    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="javascripts/secure.js" defer></script>
</head>

<body>
<section class="hero is-black is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <img src="icon.png" width="128" height="128" alt="logo">
            <h1 class="title">Simple CDN</h1>
            <h2 class="subtitle">A simple CDN that can host any type of file.</h2>
            <br>

            <div class="columns is-centered">
            <div class="column">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="field is-grouped">
                    <div class="control">
                        <label class="file-label">
                            <input class="button is-info" type="file" name="file">
                        </label>
                    </div>
                    <div class="control">
                        <input class="button is-primary" type="submit" value="Upload File">
                    </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>